body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  font-family: monospace;
  columns: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #f1356d;
}

.navbar .links{
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}


.navbar a:hover {
  color: #f1356d;
}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/*Blog posts  */
.body-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid  #921919;
}

.blog-list :hover:not(h2):not(p){
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.body-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.body-preview a {
  text-decoration: none;
}






/*Post details */
.post-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.post-details div{
  margin: 20px 0;
}

.post-details button{
  background-color: #f1356d;
  columns: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Form */


.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}


.create input, .create textarea , .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background:  #f1356d;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  
}


/**/
.delete-button{
  color: #ddd;
  margin: 10px;
  padding: 20px;
}

.not-found{
  padding: 10px;
  line-height: 250%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.not-found h2{
  color: #333;
  font-size: xx-large;

}
.not-found a{
  text-decoration: none;
  border: #333;
  background: #9e7c7c;
  padding: 10px;
  border-radius: 20px;

  
}